<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="my-4">
        <h1>Journals</h1>
    </div>

    <ul class="list-unstyled">
        <li th:each="journal : ${journals}">
            <a th:href="@{/journals/{id}(id=${journal.id})}" th:text="${journal.name}"></a>
        </li>
    </ul>

    <form class="form-row mb-2" method="get" th:action="@{/journals}">
        <div class="form-group col-md-3">
            <input class="form-control mr-2" name="search" placeholder="Find journals with description..." th:value="${search}" type="text"/>
        </div>
        <div class="form-group col-md-1">
            <button class="btn btn-light" type="submit">Search</button>
        </div>
    </form>

</body>
</html>